
    <div class="text-center">
        <h1 id="title" class="title">Change password</h1>
        <p class="sub-title">Please set a new password</p>
        
        <form (ngSubmit)="login()" [formGroup]="user" aria-labelledby="title">

            <div class="form-control-group my-4 text-left">
                <label class="label" for="input-password">New Password:</label>
                <input
                  nbInput  status="primary"
                  type="password"
                  id="input-password"
                  formControlName="password"
                  class="first"
                  placeholder="New Password"
                  autofocus
                  fullWidth
                  fieldSize="large"
                  [status]="submitted ? (password?.invalid  ? 'danger' : 'success') : 'primary'"
                  [attr.aria-invalid]="password?.invalid && password?.touched ? true : null"
                >
                <ng-container *ngIf="password?.invalid && submitted">
                  <p class="caption status-danger" *ngIf="password?.errors?.required">
                    Password is required!
                  </p>
                </ng-container>
            </div>
            <div class="form-control-group my-4 text-left">
                <label class="label" for="input-re-password">Confirm Password:</label>
                <input
                    id="input-re-password"
                    type="password"
                  nbInput  status="primary"
                    formControlName="passwordConfirm"
                    placeholder="Confirm Password"
                    fullWidth
                    fieldSize="large"
                    [status]="submitted ? (passwordConfirm?.invalid || password?.value != passwordConfirm?.value ? 'danger' : 'success') : 'primary'"
                  >
                <ng-container *ngIf="submitted">
                  <p class="caption status-danger" *ngIf="passwordConfirm?.invalid && passwordConfirm?.errors?.required">
                      Password confirmation is required!
                  </p>
                  <p class="caption status-danger" *ngIf="password?.value != passwordConfirm?.value">
                      Password does not match the confirm password.
                  </p>
                </ng-container>
            </div>
        
            <button
              *ngIf="loginButton"
              nbButton
              status="danger"
              fullWidth
              size="large"
              [disabled]="submitted"
              [class.btn-pulse]="submitted">
              Change password
            </button>
        </form>

        <button
          *ngIf="!loginButton"
          (click)="goToLogin()"
          nbButton
          fullWidth
          class="btn btn-block btn-primary"
        >
          Log in
        </button>
        
        <section class="sign-in-or-up" aria-label="Sign in or sign up">
            <p><a class="text-link" routerLink="../login">Back to Log In</a></p>
            <!-- <p><a routerLink="../register" class="text-link">Register</a></p> -->
        </section>
    </div>    