:host {
  .form-group:last-of-type {
    margin-bottom: 3rem;
  }
}

.fit-image {
  width: 100%;
  object-fit: cover;
  height: 180px; /* only if you want fixed height */
}

.centerCaptcha {
  display: flex;
  justify-content: center;
  margin: 10px;
}
