<!-- <div class="row justify-content-center"> -->
    <div class="text-center">
      <h1 id="title" class="title">
        <img src="assets/image/logo-s.png" alt="" height="120">
      </h1>
        <p class="sub-title">Ingrese su dirección de correo electrónico y le enviaremos un enlace para restablecer su contraseña</p>

        <form (ngSubmit)="(resetPassword())" [formGroup]="userProfileForm" aria-labelledby="title">

          <div class="form-control-group my-4 text-left">
            <label class="label" for="input-email">Introduzca su dirección de correo electrónico:</label>
            <input nbInput
              fullWidth
              formControlName="email"
              id="input-email"
              placeholder="example@mail.com"
              autofocus
              [status]="submitted ? (email?.invalid  ? 'danger' : 'success') : 'primary'"
            >
            <ng-container *ngIf="email?.invalid && submitted">
              <p class="caption status-danger" *ngIf="email?.errors?.required">
                El correo es requerido!
              </p>
              <p class="caption status-danger" *ngIf="email?.errors?.pattern">
                El correo es invalido
              </p>
            </ng-container>
          </div>

          <div class="form-control-group accept-group">
            <!-- <nb-checkbox name="rememberMe" [(ngModel)]="user.rememberMe" *ngIf="rememberMe">Remember me</nb-checkbox> -->
          </div>

          <button
            nbButton
            fullWidth
            style="background-color:  #fcd806; border-color: #fcd806; color:white"
            status="danger"
            size="large"
            [disabled]="submitted || !userProfileForm.valid"
          >
          Solicitud de contraseña
          </button>
        </form>

        <section class="sign-in-or-up" aria-label="Sign in or sign up">
            <p><a class="text-link" routerLink="../login"  style="color: #fcd806;">Regresar</a></p>
            <!-- <p><a routerLink="../register" class="text-link">Register</a></p> -->
        </section>
    </div>
<!-- </div> -->
